#snackbar {
  visibility: hidden;
  min-width: 265px;
  height: 14px;
  margin-left: -125px;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 36px;
  right: 16px;
  font-size: 14px;
  background: #FFFFFF;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* Shadow/400 */
  box-shadow: 0px 10px 18px rgba(76, 101, 145, 0.15), 0px 0px 1px rgba(76, 101, 145, 0.3);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.25s, fadeout 0.5s 2.5s;
  animation: fadein 0.25s, fadeout 0.5s 2.5s;
}

#icon {
  margin-right: 24px;
}

#icon img {
  width: 14px;
  height: 14px;
}

#closeSnackbar {
  position: absolute;
  right: 16px;
  border: none;
  background: #FFFFFF;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    right: 16px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }

  to {
    right: 16px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 16px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 16px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}